@media (max-width: 767px) {

    .desktop{ display: none;}
    .tablet{ display: none;}


    body {
        margin: 0%;
    }
    
    table{
        width: 100%;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";  
    }

    
    .head{
        position: fixed;
        background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/FondoPrincipal.png);
        width: 100%;
        height: 5%;
        visibility: visible;
    }
    
    .p{
        position: absolute;
        background-color: #AB095B;
        width: 100%;
        height: 1%;
        top: 270%;
    }
    
    div:active {
        text-decoration: none;
        color: #fefefe;
    }
    
    div:link {
        color: #FFFFFF;
        text-decoration: none;
    }
    div:visited {
        text-decoration: none;
        color: #fafafa;
    }
    div:hover {
        text-decoration: none;
        transition: all .8s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out;
        color: black;
        background-color: rgb(254, 254, 254);
    }
    
    
    a:link {
        color: #FFFFFF;
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
        color: #575757;
    }
    a:hover {
        text-decoration: none;
        color: #575757;
    }
    a:active {
        text-decoration: none;
        color: #ffffff;
    }
    

    a{
        text-align: center;
        top: 25%;
        font-size: 60%;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
            
    }
    
    
.Intituto{
    margin: 0;
    font-size: 200%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin-top: 2%;
    color: white;
}

.Cecyt{
    margin: 0;
    font-size: 200%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

    
    /*//////////////////////////////////////////////////////////////////////////////////////////////////*/

    .mainmenubtn1 {
        position: fixed;
        background-color: #fbfbfb;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        top: 1%;
        width: 11%;
        height: 3%;
        left: 41%;
        border-radius: 5%;
        transition: all .5s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out; 
        font-size: 120%;
    }
    
    .mainmenubtn1:hover {
        text-decoration: none;
        transition: all .8s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    
    .mainmenubtn1:link {
        color: #FFFFFF;
        text-decoration: none;
    }
    .mainmenubtn1:visited {
        text-decoration: none;
        color: #A7A7A7;
    }
    
    .mainmenubtn1:active {
        text-decoration: none;
        color: #A7A7A7;
    }
    
    
    
    /*/////////////////////////////////////////////////////////////////////////////////////////////////*/
    
    
    
    
    .mainmenubtn {
        position: fixed;
        background-color: #ab095a00;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        top: 1%;
        width: 14%;
        height: 3%;
        left: 53%;
        border-radius: 5%;
        transition: all .5s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out;
        font-size: 100%;
    }
    
    .mainmenubtn:hover {
        text-decoration: none;
        transition: all .8s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    
    .mainmenubtn:link {
        color: #FFFFFF;
        text-decoration: none;
    }
    .mainmenubtn:visited {
        text-decoration: none;
        color: #A7A7A7;
    }
    
    .mainmenubtn:active {
        text-decoration: none;
        color: #A7A7A7;
    }
    
    
    .dropdown-child {
        position: fixed;
        display: none;
        background-color: hsla(0, 0%, 100%, 0);
        top: 4.5%;
        width: 14%;
        height: 2.5%;
        left: 53%;
        border-radius: 5%;
        text-align: left;
        font-size: 75%;
    }
    
    .dropdown-child a {
        position: absolute;
        color: #ab095a00;
        width: 18%;
        text-decoration: none;
        text-align: left;
    }
    
    .dropdown:hover .dropdown-child {
        display: block;
        text-align: left;
    }
    
    .dropdown-child1-2 {
        position: absolute;
        display: none;
        background-color: #a7a7a700;
        top: 6.5%;
        width: 10%;
        height: 3%;
        left: 54+3%;
        border-radius: 5%;
        text-align: center;
        font-size: 65%;
    }
    
    .dropdown-child1-2 a {
        position: absolute;
        color: #AB095B;
        width: 18%;
        text-decoration: none;
        text-align: center;
    }
    
    .dropdown:hover .dropdown-child1-2 {
        display: block;
        text-align: left;
    }
    
    
    /*/////////////////////////////////////////////////////////////////////////////////////////////////*/
    
    /*/////////////////////////////////////////////////////////////////////////////////////////////////*/
    
    .mainmenubtn3 {
        position: fixed;
        background-color: #ab095a00;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        top: 1%;
        width: 16%;
        height: 3%;
        left: 83%;
        border-radius: 5%;
        transition: all .5s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out;
        font-size: 110%;
    }
    
    
    .mainmenubtn3:hover {
        text-decoration: none;
        transition: all .8s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    
    .mainmenubtn3:link {
        color: #FFFFFF;
        text-decoration: none;
    }
    .mainmenubtn3:visited {
        text-decoration: none;
        color: #A7A7A7;
    }
    
    .mainmenubtn3:active {
        text-decoration: none;
        color: #A7A7A7;
    }
    
    
    .dropdown-child3 {
        position: fixed;
        display: none;
        background-color: #ab095a00;
        top: 4%;
        width: 16%;
        height: 3%;
        left: 83%;
        border-radius: 5%;
        text-align: center;
        font-size: 90%;
    }
    
    .dropdown-child3 a {
        position: absolute;
        color: #AB095B;
        width: 18%;
        text-decoration: none;
        text-align: center;
    }
    
    .dropdown3:hover .dropdown-child3 {
        display: block;
        text-align: left;
    }
    
    
    .dropdown-child3-2 {
        position: fixed;
        display: none;
        background-color: #ab095a00;
        top: 7%;
        width: 16%;
        height: 3%;
        left: 83%;
        border-radius: 5%;
        text-align: center;
        font-size: 90%;
    }
    
    .dropdown-child3-2 a {
        position: absolute;
        color: #AB095B;
        width: 18%;
        text-decoration: none;
        text-align: center;
    }
    
    .dropdown3:hover .dropdown-child3-2 {
        display: block;
        text-align: left;
    }
    
    .dropdown-child3-3 {
        position: fixed;
        display: none;
        background-color: #ab095a00;
        top: 10%;
        width: 16%;
        height: 3%;
        left: 83%;
        border-radius: 5%;
        text-align: center;
        font-size: 90%;
    }
    
    .dropdown-child3-3 a {
        position: absolute;
        color: #AB095B;
        width: 18%;
        text-decoration: none;
        text-align: center;
    }
    
    .dropdown3:hover .dropdown-child3-3 {
        display: block;
        text-align: left;
    }
    
    
    .dropdown-child3-4 {
        position: fixed;
        display: none;
        background-color: #ab095a00;
        top: 13%;
        width: 16%;
        height: 3%;
        left: 83%;
        border-radius: 5%;
        text-align: center;
        font-size: 90%;
    }
    
    .dropdown-child3-4 a {
        position: absolute;
        color: #AB095B;
        width: 18%;
        text-decoration: none;
        text-align: center;
    }
    
    .dropdown3:hover .dropdown-child3-4 {
        display: block;
        text-align: left;
    }
    
    
    /*/////////////////////////////////////////////////////////////////////////////////////////////////*/
    
    .mainmenubtn4 {
        position: fixed;
        background-color: #ab095a00;
        color: rgb(0, 0, 0);
        border: none;
        cursor: pointer;
        top: 1%;
        width: 14%;
        height: 3%;
        left: 68%;
        border-radius: 5%;
        transition: all .5s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out;
        font-size: 105%;
    }
    
    
    .mainmenubtn4:hover {
        text-decoration: none;
        transition: all .8s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
    }
    
    .mainmenubtn4:link {
        color: #FFFFFF;
        text-decoration: none;
    }
    .mainmenubtn4:visited {
        text-decoration: none;
        color: #A7A7A7;
    }
    
    .mainmenubtn4:active {
        text-decoration: none;
        color: #A7A7A7;
    }
    
    
    .dropdown-child4 {
        position: fixed;
        display: none;
        background-color: #AB095B;
        top: 3.5%;
        width: 15%;
        height: 2.5%;
        left: 80%;
        text-align: center;
        font-size: 65%;
    }
    
    .dropdown-child4 a {
        position: absolute;
        color: #AB095B;
        width: 15%;
        text-decoration: none;
        text-align: center;
    }
    
    .dropdown4:hover .dropdown-child4 {
        display: block;
        text-align: left;
    }
    
    /*/////////////////////////////////////////////////////////////////////////////////////////////////*/
    
    
    
    .box-Lema{
        position: fixed;
        text-align: center;
        overflow: hidden;
        border-bottom-left-radius: 7%;
        border-bottom-right-radius: 7%;
        height: 3%;
        width: 20%;
        left: 5%;
        font: oblique bold 120% cursive;
        font-size: 56%;
        background-color: white;
    }
    
    .Lema{
        margin-top: 3%;
    }


    
    /*//////////////////////////////////////////////////////////////////////////////////////////////////*/
    
    
    
    div:link {
        color: #FFFFFF;
        text-decoration: none;
    }
    div:visited {
        text-decoration: none;
        color: #A7A7A7;
    }
    div:hover {
        text-decoration: none;
        transition: all .8s ease-in-out;
        transition-property: all;
        transition-duration: 0.5s;
        transition-timing-function: ease-in-out;
        transition-delay: 0s;
        -webkit-transition: all .5s ease-in-out;
        color: black;
        background-color: rgb(255, 255, 255);
    }
    
    
    a:link {
        color: #000000;
        text-decoration: none;
    }
    a:visited {
        text-decoration: none;
        color: #873eb1;
    }
    a:hover {
        text-decoration: none;
        color: #873eb1;
    }
    a:active {
        text-decoration: none;
        color: #A7A7A7;
    }
    
    
    /*///////////////////////////////////////////////////////////////////////////////////////////////////*/
    
    .img1{
        width: 90%;
        height: 50%;
        left: 10%;
        top: 33%;
        visibility: visible;
    }
    
    .img3{
        position: relative;
        width: 90%;
        height: 20%;
    }
    
    .T{
        font-size: 180%;
        font-weight: bold;
        text-align: left;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    }
    
    .abajoT{
        font-size: 120%;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    }
    
    .TextoEntero{
        position: absolute;
        top: 5%;
        left: 10%;
        right: 10%;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        text-align: justify;
    }
    
    /*/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
    .box-Info{
        position: absolute;
        background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/FondoGObAzul.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 28%;
        top: 1100%;
    }
    
    .box-Info:hover{
        background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/FondoGObAzul.jpg);
        background-size: 100%;
        background-repeat: no-repeat;
    }
    
    .Academia{
        position: absolute;
        top: 2%;
        left: 33%;
        font-size: 170%;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        color: #AB095B;
    }
    
    .Poli{
        position: absolute;
        top: 3%;
        left: 20%;
        font-size: 110%;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        color: white;
    }
    
    .Cecyt3{
        position: absolute;
        top: 15%;
        left: 10%;
        font-size: 80%;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        color: white;
    }
    
    .Unidad{
        position: absolute;
        top: 27%;
        left: 25%;
        font-size: 100%;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        color: #e9f419;
    }
    
    .Creacion{
        position: absolute;
        top: 35%;
        left: 10%;
        font-size: 100%;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        color: white;
    }
    
    
    .Equipo{
        position: absolute;
        top: 45%;
        left: 25%;
        font-size: 100%;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        color: #e9f419;
    }
    
    .Name1{
        position: absolute;
        top: 54%;
        left: 10%;
        font-size: 100%;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        color: white;
        text-align: left;
    }
    
    .Name2{
        position: absolute;
        top: 62%;
        left: 10%;
        font-size: 100%;
        font-weight: bold;
        font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        color: white;
        text-align: left;
    }
    
    
    .imgGob{
        position: absolute;
        top: 85%;
        left: 2%;
        width: 25%;
    }
    
    .imgCecyt{
        position: absolute;
        top: 3%;
        left: 86%;
        width: 10%;
    }
    
    .ipn{
        position: absolute;
        top: 3%;
        left: 2%;
        width: 6.5%;
    }
    
}