body {
    margin: 0;
    text-align: center;
    background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/FondoPrincipal.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

table{
    width: 100%;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";  
}

div:active {
	text-decoration: none;
	color: #fefefe;
}

div:link {
	color: #FFFFFF;
	text-decoration: none;
}
div:visited {
	text-decoration: none;
	color: #fafafa;
}
div:hover {
	text-decoration: none;
    transition: all .8s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    color: black;
    background-color: rgb(254, 254, 254);
}


a:link {
    color: #FFFFFF;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #575757;
}
a:hover {
    text-decoration: none;
    color: #575757;
}
a:active {
    text-decoration: none;
    color: #ffffff;
}


a{
    text-align: center;
    top: 25%;
    font-size: 150%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
        
}


.Intituto{
    margin: 0;
    font-size: 200%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin-top: 2%;
    color: white;
}

.Cecyt{
    margin: 0;
    font-size: 200%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    margin-top: 2%;
    margin-bottom: 2%;
    color: white;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/

.mainmenubtn1 {
    position: absolute;
    background-color: #fbfbfb;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    top: 2%;
    width: 10%;
    height: 7%;
    left: 56%;
    border-radius: 5%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out; 
}

.mainmenubtn1:hover {
    text-decoration: none;
    transition: all .8s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.mainmenubtn1:link {
	color: #FFFFFF;
	text-decoration: none;
}
.mainmenubtn1:visited {
	text-decoration: none;
	color: #A7A7A7;
}

.mainmenubtn1:active {
	text-decoration: none;
	color: #A7A7A7;
}



/*/////////////////////////////////////////////////////////////////////////////////////////////////*/




.mainmenubtn {
    position: absolute;
    background-color: #ab095a00;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    top: 2%;
    width: 10%;
    height: 7%;
    left: 67%;
    border-radius: 5%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
}

.mainmenubtn:hover {
    text-decoration: none;
    transition: all .8s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.mainmenubtn:link {
	color: #FFFFFF;
	text-decoration: none;
}
.mainmenubtn:visited {
	text-decoration: none;
	color: #A7A7A7;
}

.mainmenubtn:active {
	text-decoration: none;
	color: #A7A7A7;
}


.dropdown-child {
    position: absolute;
    display: none;
    background-color: #fefefe00;
    top: 9%;
    width: 10%;
    height: 7%;
    left: 67%;
    border-radius: 5%;
    text-align: left;
    font-size: 65%;
}

.dropdown-child a {
    position: absolute;
    color: #ab095a00;
    width: 18%;
    text-decoration: none;
    text-align: left;
}

.dropdown:hover .dropdown-child {
    display: block;
    text-align: left;
}

.dropdown-child1-2 {
    position: absolute;
    display: none;
    background-color: #a7a7a700;
    top: 16%;
    width: 10%;
    height: 7%;
    left: 67%;
    border-radius: 5%;
    text-align: center;
    font-size: 65%;
}

.dropdown-child1-2 a {
    position: absolute;
    color: #AB095B;
    width: 18%;
    text-decoration: none;
    text-align: center;
}

.dropdown:hover .dropdown-child1-2 {
    display: block;
    text-align: left;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

.mainmenubtn3 {
    position: absolute;
    background-color: #ab095a00;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    top: 2%;
    width: 10%;
    height: 7%;
    left: 78%;
    border-radius: 5%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
}


.mainmenubtn3:hover {
    text-decoration: none;
    transition: all .8s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.mainmenubtn3:link {
	color: #FFFFFF;
	text-decoration: none;
}
.mainmenubtn3:visited {
	text-decoration: none;
	color: #A7A7A7;
}

.mainmenubtn3:active {
	text-decoration: none;
	color: #A7A7A7;
}


.dropdown-child3 {
    position: absolute;
    display: none;
    background-color: #ab095a00;
    top: 9%;
    width: 11.5%;
    height: 7%;
    left: 78%;
    border-radius: 5%;
    text-align: center;
    font-size: 65%;
}

.dropdown-child3 a {
    position: absolute;
    color: #AB095B;
    width: 18%;
    text-decoration: none;
    text-align: center;
}

.dropdown3:hover .dropdown-child3 {
    display: block;
    text-align: left;
}


.dropdown-child3-2 {
    position: absolute;
    display: none;
    background-color: #ab095a00;
    top: 16%;
    width: 11.5%;
    height: 7%;
    left: 78%;
    border-radius: 5%;
    text-align: center;
    font-size: 65%;
}

.dropdown-child3-2 a {
    position: absolute;
    color: #AB095B;
    width: 18%;
    text-decoration: none;
    text-align: center;
}

.dropdown3:hover .dropdown-child3-2 {
    display: block;
    text-align: left;
}

.dropdown-child3-3 {
    position: absolute;
    display: none;
    background-color: #ab095a00;
    top: 23%;
    width: 11.5%;
    height: 7%;
    left: 78%;
    border-radius: 5%;
    text-align: center;
    font-size: 65%;
}

.dropdown-child3-3 a {
    position: absolute;
    color: #AB095B;
    width: 18%;
    text-decoration: none;
    text-align: center;
}

.dropdown3:hover .dropdown-child3-3 {
    display: block;
    text-align: left;
}


.dropdown-child3-4 {
    position: absolute;
    display: none;
    background-color: #ab095a00;
    top: 30%;
    width: 11.5%;
    height: 7%;
    left: 78%;
    border-radius: 5%;
    text-align: center;
    font-size: 65%;
}

.dropdown-child3-4 a {
    position: absolute;
    color: #AB095B;
    width: 18%;
    text-decoration: none;
    text-align: center;
}

.dropdown3:hover .dropdown-child3-4 {
    display: block;
    text-align: left;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////*/

.mainmenubtn4 {
    position: absolute;
    background-color: #ab095a00;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    top: 2%;
    width: 10%;
    height: 7%;
    left: 89%;
    border-radius: 5%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
}


.mainmenubtn4:hover {
    text-decoration: none;
    transition: all .8s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.mainmenubtn4:link {
	color: #FFFFFF;
	text-decoration: none;
}
.mainmenubtn4:visited {
	text-decoration: none;
	color: #A7A7A7;
}

.mainmenubtn4:active {
	text-decoration: none;
	color: #A7A7A7;
}


.dropdown-child4 {
    position: absolute;
    display: none;
    background-color: #AB095B;
    top: 32%;
    width: 15%;
    height: 4%;
    left: 80%;
    text-align: center;
    font-size: 65%;
}

.dropdown-child4 a {
    position: absolute;
    color: #AB095B;
    width: 15%;
    text-decoration: none;
    text-align: center;
}

.dropdown4:hover .dropdown-child4 {
    display: block;
    text-align: left;
}

/*/////////////////////////////////////////////////////////////////////////////////////////////////*/



.box-Lema{
    position: absolute;
    text-align: center;
    overflow: hidden;
    border-bottom-left-radius: 7%;
    border-bottom-right-radius: 7%;
    height: 8%;
    width: 20%;
    left: 5%;
    font: oblique bold 120% cursive;
    font-size: 150%;
    background-color: white;
}

.Lema{
    margin-top: 3%;
}

/*//////////////////////////////////////////////////////////////////////////////////////////////////*/



div:link {
	color: #FFFFFF;
	text-decoration: none;
}
div:visited {
	text-decoration: none;
	color: #A7A7A7;
}
div:hover {
	text-decoration: none;
    transition: all .8s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    color: black;
    background-color: rgb(255, 255, 255);
}


a:link {
    color: #000000;
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: #686969;
}
a:hover {
    text-decoration: none;
    color: #686969;
}
a:active {
    text-decoration: none;
    color: #A7A7A7;
}


















.titulo{
    position: absolute;
    top: 5%;
    left: 3%;
    font-size: 440%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    cursor: pointer;
    transform: all 300ms ease-in-out;
}

.titulo span::before{
    content: var(--l);
    position: absolute;
    transform: scale(1.1);
    filter: blur(15px);
}

.titulo span::after{
    content: var(--l);
    position: absolute;
    top: 90%;
    left: 0%;
    filter: blur(30px);
    transform: rotateX(50deg);
}

.titulo span:hover{
    filter: contrast(250%);
}

.titulo span:nth-child(1){
    color: #1ff8a8;
}

/*////////////////////////////////////////////////////////////////////////////////////////////////*/
.box-TituloCentral{
    position: absolute;
    border: black 1px solid;
    top: 30%;
    left: 10%;
    width: 30%;
    height: 15%;
}

.box-Titulo1{
    position: absolute;
    color: white;
    background:
    linear-gradient(to bottom, rgba(141, 146, 156, 0.348), rgba(8, 93, 252, 0.915)), 
     url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/p1.png);
    background-repeat: no-repeat;
	background-size: 100%;
    margin: 0%;
    top: 35%;
    left: 10%;
    width: 20%;
    height: 45%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    border-radius: 5%;
}

.box-Titulo1:hover {
	color: rgba(0, 0, 0, 0);
    transform:scale(1.1);
    background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/p1.png);
    background-repeat: no-repeat;
	background-size: 100%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
}

.TituloComu{
    text-align: center;
    margin-top: 70%;
    font: oblique bold 130% cursive;
}
.linkcomu:hover{
    color: rgba(0, 0, 0, 0);
}
.linkcomu:visited{
    color: rgb(254, 254, 254);
}


.box-Titulo2{
    position: absolute;
    color: white;
     background:
    linear-gradient(to bottom, rgba(141, 146, 156, 0.348), rgba(8, 93, 252, 0.915)), 
     url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/p2.png);
    background-size: 100%;
    background-repeat: no-repeat;
	background-size: 100%;
    top: 35%;
    left: 40%;
    width: 20%;
    height: 45%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    text-align: center;
    border-radius: 5%;
}

.box-Titulo2:hover {
	color: rgba(255, 255, 255, 0);
    transform:scale(1.1);
    background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/p2.png);
    background-size: 100%;
    background-repeat: no-repeat;
	background-size: 100%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
}

.box-Titulo3{
    position: absolute;
    color: white;
    background:
    linear-gradient(to bottom, rgba(141, 146, 156, 0.348), rgba(8, 93, 252, 0.915)), 
     url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/p3.png);
    background-repeat: no-repeat;
	background-size: 100%;
    margin: 0%;
    top: 35%;
    left: 70%;
    width: 20%;
    height: 45%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
    border-radius: 5%;
}

.box-Titulo3:hover {
	color: rgba(0, 0, 0, 0);
    transform:scale(1.1);
    background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/p3.png);
    background-repeat: no-repeat;
	background-size: 100%;
    transition: all .5s ease-in-out;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    -webkit-transition: all .5s ease-in-out;
}


/*///////////////////////////////////////////////////////////////////////////////////////////////////*/

.box-Info{
    position: absolute;
    background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/FondoGObAzul.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 50%;
    top: 135%;
}

.box-Info:hover{
    background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/FondoGObAzul.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.Academia{
    position: absolute;
    top: 2%;
    left: 33%;
    font-size: 170%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: #AB095B;
}

.Poli{
    position: absolute;
    top: 3%;
    left: 38%;
    font-size: 120%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: white;
}

.Cecyt3{
    position: absolute;
    top: 15%;
    left: 33%;
    font-size: 100%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: white;
}

.Unidad{
    position: absolute;
    top: 32%;
    left: 30%;
    font-size: 170%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: #e9f419;
}

.Creacion{
    position: absolute;
    top: 45%;
    left: 30%;
    font-size: 140%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: white;
}


.Equipo{
    position: absolute;
    top: 55%;
    left: 30%;
    font-size: 170%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: #e9f419;
}

.Name1{
    position: absolute;
    top: 70%;
    left: 30%;
    font-size: 140%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: white;
    text-align: left;
}

.Name2{
    position: absolute;
    top: 80%;
    left: 30%;
    font-size: 140%;
    font-weight: bold;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    color: white;
    text-align: left;
}


.imgGob{
    position: absolute;
    top: 70%;
    left: 2%;
    width: 20%;
}

.imgCecyt{
    position: absolute;
    top: 3%;
    left: 86%;
    width: 10%;
}

.ipn{
    position: absolute;
    top: 3%;
    left: 2%;
    width: 6.5%;
}