
@media (max-width: 767px){

    .desktop{ display: none;}
    .tablet{ display: none;}

    body{

        margin: 0;
        text-align: center;
        background-color: rgb(255, 255, 255);
    }


    .FondoPrincipal{
        position: absolute;
        width: 100%;
        height: 23%;
        background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/FondoPrincipal2.png);
        background-size: 100%;
        background-repeat: no-repeat;
        

    }

}

/* Tablet */
@media (min-width: 768px) and (max-width: 990px){

    .desktop{ display: none;}
    .movil{display: none;}

}

/* Escritorio */
@media (min-width: 991px){
    .tablet{display: none;}
    .movil{display: none;}

    
    body{

        margin: 0;
        text-align: center;
        background: url(https://numberbook518.github.io/Numbebook518.github.io/multimedia/FondoPrincipal.png);
        background-size: 100%;
        background-repeat: no-repeat;
    
    }


}

